body {
  background: #7FFFD4;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: #000000;
  text-align: center;
}
.assign {
  display: flex;
  padding: 10px;
  margin: 10px;
  background: white;
}
.assign img {
  width: 300px;
  padding: 10px;
}
